* {
    margin:0;
    padding:0;
    color: var(--color-wht);
}
:root {
    --color-fir: #191970; /*blue*/
    --color-sec: #270082;
    --color-thi: #7a0bc0;
    --color-blk: #000000;
    --color-wht: #ffffff;
    --color-blu: #242f9b;
    --color-pur: #7858a6;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-fir)
}

.bg {
    background-color: rgba(122,11,192, 0.5);
}
.bg2 {
    background-color: rgba(120,88,166, 0.5);
}
.bg3{
    background-color: rgba(0,191,255, 0.5);
}

.App {
  font-size: 2em;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  overflow-y: scroll;

  /* background: var(--color-thirdendary); */

  /* background: url('./images/backgrounds/maybe.gif') rgba(0, 0, 255, 0.5); */
  /* background: url('./images/backgrounds/mtnBoat.gif') rgba(0, 0, 255, 0.5); */

  /* background: url('./images/backgrounds/mtnLake.gif') rgba(0, 0, 255, 0.5); */
  /* background: url('./images/backgrounds/mtnLake2.gif') rgba(0, 0, 255, 0.7);  */

  /* background: url('./images/backgrounds/mtnNight.gif') rgba(0, 0, 255, 0.5); */
  /* background: url('./images/backgrounds/mtnRiver.gif') rgba(0, 0, 255, 0.5); */
  /* background: url('./images/backgrounds/mtnVillage.gif') rgba(0, 0, 255, 0.5); */
  /* background: url('./images/backgrounds/rightWaves.gif') rgba(0, 0, 255, 0.5); */
  background: url('./images/backgrounds/water-47.gif') rgba(180, 0, 255, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
}

/* nav */
.nav {
    top: 0;
    left: 0;
    margin: auto;
    /* position: initial; */
    position: sticky;
    height: 60px;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
}
.nav > p {
    padding: 0 20px;
    transition: 0.5s ease;
}
.nav > p:hover{
    color: var(--color-thi);
    transition: 0.3s ease;
}

.bar {
    background-color: var(--color-fir);
    width: 100%;
}




/* about page */
.about {
    padding: 10px;
    margin: 50px auto;
    max-width: 1200px;
}

.about > span {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 45px 0;
}

.about-img{
    border-radius: 25%;
    width:  300px;
    height: 300px;
}

@keyframes bob {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}

.pitch {
    padding: 35px 30px 35px 40px;
    margin-left: 20px;
    font-style: italic;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    animation: bob 2s ease;
}

.about > ul {
    list-style: none;
    margin: 20px auto;
}

.about > h2 {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.about > h3 {
    width: 100%;
    text-align: center;
    padding: 25px;
}

.traits {
    animation: bob 2s ease;
    animation-delay: 2s;
}

.two {
    animation: bob 2s ease;
    animation-delay: 3s;
}

.interests{
    animation: bob 2s ease;
    animation-delay: 5s;
}

.dos {
    animation: bob 2s ease;
    animation-delay: 6s;

}

.three {
    animation: bob 2s ease;
    animation-delay: 7s;
}




/*  skills page */
.skills {
    text-align: center;
    margin: 50px auto;
    max-width: 1200px;
}

.skills > h2 {
    margin: auto;
    padding: 40px 0;
    text-align: center;
    max-width: 1100px;
}

.skill-container {
    margin: 20px auto;
    width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@keyframes spin {
    0%{   transform: rotateZ(0); }
    50%{
        transform: rotateZ(180deg);
        height: 120px;
        width:120px;
    }
    100%{ transform: rotateZ(360deg); }
}

.img {
    animation: spin 2s ease;
}

.skill-box {
    display: flex;
    flex-direction: column;
    line-height: 110px;
    padding: 30px;
}

.skill-box > img {
    border-radius: 20%;
    padding: 5px;
    margin: auto;
    width: 110px;
    height: 110px;
    background-color: white;
}

.certifications {
    margin: 30px auto;
    max-width: 1100px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 30px;
}

.and {
    border-radius: 20px;
}

.certs {
    text-align: center;
    background-color: white;
    border-radius: 20%;
    padding: 5px;
    color: var(--color-blk);
    height:120px;
    width: 130px;
    margin: 20px;
}

.banner {
    width: 200px;
    padding: 10px;
}



/*  project review */
.project {
    margin: 75px auto;
    text-align: center;
    padding: 15px;
    max-width: 1200px;
}

.project-review {
    text-align: center;
    width: 95%;
    /* border: 3px solid yellow; */
    padding: 10px;
    margin: 15px 0;
}

.project-disc > img {
    width: 120px;
    height: 120px;
    padding: 20px;
    transition: 1s ease;
}

.project-disc > img:hover{
    height: 700px;
    width: 700px;
    transition: 1.5s ease;
}

.project-disc > p{
    padding:5px;
}


/*  reviews page */
.rev {
    margin: auto;
    max-width: 1200px;
}
.review {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.review > h3 {
    width: 100%;
}

.project-review {
    width: 40%;
}

.project-review > ul >li{
    text-align: left;
    padding: 20px;
}

.h2 {
    padding: 15px;
}

.recommend {
    text-align: center;
    margin: 30px auto;
    padding: 10px;
}

.recommend > ul {
    margin: auto;
    max-width: 1100px;
}

.recommend > ul > li {
    padding: 20px;
}

/*  KPA */
.kpa {
    text-align: center;
}

.d-review {
    text-align: left;
    padding: 25px;
    max-width: 1200px;
    margin: 0 auto;
}

.kpa > h2 {
    margin: 30px auto;
}
.headline {
    padding: 30px;
    max-width: 1200px;
}

.value {
    margin: 20px auto;
    text-align: left;
    max-width: 1200px;
    padding: 10px;
}

.value > h3 {
    margin: 15px auto;
}


/* why hire me */
.why {
    text-align: center;
    margin: auto;
    max-width: 80%;
}
.why >div {
    padding: 40px;
    margin: 50px auto;
    max-width: 1200px;
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}
.measure {
    margin: auto;
    width: 1200px;
}


/* contact info */
.contact {
    text-align: center;
    margin:50px auto;
}
.c-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.c-list > p {
    padding: 10px;
    margin: 10px auto;
    background-color: var(--color-blk);
}

.clipboard {
    margin: 100px auto;
    width: 400px;
    height: 400px;
    background: white;
}
.clipboard > p {
    width: 95%;
    color: black;
    line-height: 400px;
}



/* universal  */
.gap {
    height: 100px;
    color: none;
    background-color: none;
}
ul {
    list-style: none;
}

ul > li:nth-child(odd) {
    background-color: var(--color-pur);
}

ul > li {
    max-width: 100%;
}
li {
    padding: 3.5px 10px;
}

/*  build nav for  720 and less to be a normal x menu. */

/*  media media media media media media media media media *********************/
/* s10 is 360 px by 760px  cell phone */
/* 1200-1500 by 2000+ tablet */


@media only screen and (max-width: 550px) {   /* cell phone only*/
    .App {
        font-size: 1em;
    }


}

@media only screen and (max-width: 960px) {
    .App {
        font-size: 1.5em;
    }
    .anv > p {
        padding: 0 5px;
    }
    .about-img {
        width: 150px;
        height: 150px;
    }
    .skill-box > img {
        width: 60px;
        height: 60px;
    }
    .certs {
        text-align: center;
        padding: 5px;
        color: black;
        height:120px;
        width: 130px;
        margin: 20px;
    }
    .project-review {
        width: 90%;
    }
}
