* {
    margin:0;
    padding:0;
    color: white;
    width: 100vw;
    height: 100vh;
    background-image: url('./images/marble.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
}

.App {
  text-align: center;
  margin: auto;
  font-size: 1.5em;
}












/*  media media media media media media media media media *********************/
/* s10 is 360 px by 760px  cell phone */
/* 1200-1500 by 2000+ tablet */


@media only screen and (max-width: 550px) {   /* cell phone only*/
    .skills {
        height: 30px;
        width: 30px;
    }
    .skills-container {
        grid-template-columns: repeat(3, 4fr);
    }
    .left>img {
        height: 120px;
        width: 120px;

    }


}

@media only screen and (max-width: 800px) {
    .App {
        font-size: 1em;
    }
}
